<header class="header__">
  <div class="header__container">
    <div class="header__icon">
      <a [routerLink]="'/'">
        <i class="bi bi-bookmark-heart"></i>
      </a>
    </div>
    <div class="header__buttons_container">
      <div class="button__search_field">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </div>
      <div class="button__login_group">
        <a href="" [routerLink]="['/profile']" >
          <button>Create Event</button>
        </a>
      </div>
    </div>
  </div>
</header>
