/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons.css"
@import "src/variables.sass"

/*Colors*/



body
  background: $body-color
  margin: 0

.event_list__container

  height: 500px
  margin: 1.5em 0

.event_filter__container
  background: $div-primary-color
