/* You can add global styles to this file, and also import other style files */
//@import "~bootstrap/dist/css/bootstrap.css"
/*Colors*/
$body-color: #191929
$div-primary-color: #242239
$div-secondary-color: #9997ef
$font-primary-color: #eee

body
  background: $body-color
  margin: 0

.header
  background: $div-primary-color
  color: $font-primary-color
  display: block
  height: 3.5em
