<div class="profile__container primary-div default-margin">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
              type="button" role="tab" aria-controls="nav-profile" aria-selected="true">Profile
      </button>
      <button class="nav-link" id="nav-creator-dashboard-tab" data-bs-toggle="tab"
              data-bs-target="#nav-creator-dashboard" type="button" role="tab" aria-controls="nav-creator-dashboard"
              aria-selected="false">Creator Dashboard
      </button>
      <button class="nav-link" id="nav-order-history-tab" data-bs-toggle="tab" data-bs-target="#nav-order-history"
              type="button"
              role="tab" aria-controls="nav-order-history" aria-selected="false">Order History
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!--PROFILE TAB-->
    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="profile__profile_info_container default-margin tab-body">

      </div>
    </div>
    <!--END of PROFILE TAB-->
    <!--CREATOR DASHBOARD TAB-->
    <div class="tab-pane fade" id="nav-creator-dashboard" role="tabpanel" aria-labelledby="nav-creator-dashboard-tab">
      <div class="profile__dashboard_info_container tab-body">
        <div class="profile__dashboard_info_sidenav">
          <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
                      type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home
              </button>
              <button class="nav-link" id="v-pills-created-events-tab" data-bs-toggle="pill"
                      data-bs-target="#v-pills-created-events"
                      type="button" role="tab" aria-controls="v-pills-created-events" aria-selected="false">Created
                Events
              </button>
              <button class="nav-link" id="v-pills-templates-tab" data-bs-toggle="pill"
                      data-bs-target="#v-pills-templates" type="button" role="tab" aria-controls="v-pills-templates"
                      aria-selected="false">Templates
              </button>
              <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                      data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                      aria-selected="false">Settings
              </button>
            </div>
          </div>
        </div>
        <div class="profile__dashboard_info_content">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            </div>
            <div class="tab-pane fade" id="v-pills-created-events" role="tabpanel"
                 aria-labelledby="v-pills-created-events-tab">
              <app-created-events-list [TestuArray]="testuArrayu" [TestString]="TestStringu" [EventsArray]="CreatedEvents" ></app-created-events-list>
            </div>
            <div class="tab-pane fade" id="v-pills-templates" role="tabpanel" aria-labelledby="v-pills-templates-tab">
              ...
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
              ...
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--END of CREATOR DASHBOARD TAB-->
    <div class="tab-pane fade" id="nav-order-history" role="tabpanel" aria-labelledby="nav-order-history-tab">
      <div class="profile__events_visited default-margin tab-body">

      </div>
    </div>
  </div>
</div>
