@import src/styles.sass
.tab-body
  min-height: 80vh
//TODO perhaps i can make sub class 'container'
//.profile__container


.profile__dashboard_info_container
  display: flex
  background: $body-color
  margin-top: 0

.profile__dashboard_info_sidenav
  background: #242239
  padding: 1.5em

.profile__dashboard_info_content
  width: 100%

//.profile__tabs_container

